.wrapper {
  padding: 10px;
}

.wrapper img {
  min-height: 192px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.block {
  display: flex;
  flex-direction: column;
  background-color: #023047;
  border-radius: 8px;
}

.block:hover {
  box-shadow: 0 0 10px #000;
}

.description {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 20px;
  font-size: 14px;
}

.upper,
.bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.publisher {
  width: 50%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
