.filters {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 0 10px 0;
  border-bottom: 1px solid #fff;
}

@media (max-width: 760px) {
  .filters {
    flex-direction: column;
    gap: 10px;
  }

  .filterBlock {
    display: flex;
    justify-content: space-between;
  }
}
